/* Container for the tabs and content */
.tabs-container {
  display: flex;
  align-items: flex-start;
}

/* List of tabs displayed in a column */
.tabs-list {
  display: flex;
  flex-direction: column;
  margin-right: 16px; /* Adjust spacing as needed */
}

/* Style individual tab triggers */
.tabs-trigger {
  position: relative; /* Make the element relative to position the pseudo-element */
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: none; /* Remove the default border */
}

.tabs-trigger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  height: 100%;
  width: 2px;
  background-color: gray;
  transition: background-color 0.2s ease;
}

.tabs-trigger.active::before {
  left: 0;
  width: 4px;
  background-color: #007bff;
  border-radius: 10px;
}

.tabs-trigger:hover::before {
  background-color: #007bff;
}

.tabs-trigger.active {
  color: #007bff;
}

.tabs-trigger:hover {
  background-color: #007bff2f;
  color: #007bff;
}

/* Container for the tab content */
.tabs-content-container {
  flex-grow: 1;
}

/* Style individual tab content */
.tabs-content {
  display: block;
}
