.sidebar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  /* Ensure the sidebar is off-screen initially */
}

.sidebar.open {
  transform: translateX(0);
  /* Bring the sidebar on-screen */
}

.sidebar.closed {
  transform: translateX(100%);
  /* Move the sidebar off-screen */
}

.nav-section {
  background: rgb(30, 41, 59);
  color: #68778d;
  width: 70px;
  border-radius: 40px;
  padding: 12px 0;
}

.nav-section button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-section button:hover, .nav-section a:hover {
  color: #fff;
  background: rgba(56, 189, 248, 0.7);
}

.active-section {
  color: #fff;
  background: rgb(56, 189, 248);
}

.TooltipContent {
  background: #68778d;
  padding: 4px 10px;
  border-radius: 7px;
}

.icon-link {
  display: inline-block;
  margin: 10px; /* Adjust the margin as needed */
  text-decoration: none;
}

.icon-link svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.icon-link:hover svg {
  transform: scale(1.1);
  stroke: rgb(56, 189, 248);
}
