.about-intro {
  color: rgb(148, 163, 184);
  font-size: 18px;
}

span {
  color: rgb(56, 189, 248);
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: rgb(15, 23, 42);
}

.skill-card {
  position: relative;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e293b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideInLeft 0.5s ease forwards;
  opacity: 0;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Darker shadow on hover */
}

.skill-logo {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.skill-card:hover .skill-logo {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s;
}

.skill-logo img {
  width: 60px;
  height: 60px;
}

.skill-name {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: rgb(148, 163, 184);
  opacity: 1;
  transition: opacity 0.5s ease;
  font-family: "Roboto Mono", monospace;
}

.skill-card:hover .skill-name {
  opacity: 0;
  transition: opacity 0.5s ease;
}

@media (max-width: 550px) {
  .skills-section {
    padding: 0;
    padding-top: 1rem;
  }
}

@media (max-width: 480px) {
  .skill-card {
    width: 80px;
    height: 80px;
  }

  .skill-logo img {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 12px;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
