@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
  /* Ensure the section is scrollable */
  overflow-y: scroll;
}

/* Customize the scrollbar width */
.scrollable::-webkit-scrollbar {
  width: 18px;
}

/* Customize the scrollbar track */
.scrollable::-webkit-scrollbar-track {
  background: none;
}

/* Customize the scrollbar thumb */
.scrollable::-webkit-scrollbar-thumb {
  background-color: #68778d; /* color of the scrollbar */
  border-radius: 10px;
  border: 4px solid rgb(15, 23, 42);
}

/* Customize the scrollbar thumb on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 189, 248, 0.5);
}
